
table{
    border: 1px solid black;
    width: 30vw;
    height: 10vh;
    
}
td{
    border: 1px solid black;
    text-align: center;
}
h5{
    text-align: center;
    margin: 0 0 0 0;
}
#titulo{
    text-align: center;
}
.tabla{
    height: 10vh;

    display: flex;
    justify-content: center;
}
.bgreen{
    background-color: rgb(80, 212, 80);
}
.bblue{
    background-color: aqua;
    text-align: left;
}
.bpink{
    background-color: plum;
    text-align: end;
    vertical-align: bottom;
}
.fred{
    color: red;
}