table{
    margin-left: 15%;
    width: 70vw;
    border: 3px outset rgb(59, 59, 58);
    text-align: center;
    color: rgb(129, 14, 14);
}
td{
    border: 2px outset rgb(59, 59, 58);
}
th{
    border: 2px outset rgb(59, 59, 58);

}
.bgreen{
    background-color: rgb(60, 143, 60);
}
.bbrown{
    background-color: rgb(212, 127, 58);
}
.byellow{
    background-color: rgb(236, 236, 93);

}
.bburly{
    background-color: burlywood;
}